/* 1) Optional: charset must be first if you need it */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=NTR:wght@400;700&display=swap');


@import "tailwindcss";



@layer utilities {
  .text-2xs { font-size: 0.5rem; }
}

@theme {
  --font-sans: 'NTR', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@keyframes blink{ 
    0%, 100% { opacity: 1;}
    50% { opacity: 0; }
}

.animate-blink{
    display: inline-block;
    width: 1px;
    background-color: white;
    animation: blink 1s step-end infinite;

}

.animate-flash {
    animation: blink 1.5s infinite;
}

/* Scrolling bar color*/
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;  /* Color of scrollbar thumb */
    border-radius: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Or use a dark background if needed */
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #888; /* Lighter gray when hovered */
  }

  /* hide scrollbar from chrome, safari and opera */
textarea.noscrollbar::-webkit-scrollbar {
  display: none,
}

/* Hide scrollbar for IE, Edge, Firefox */
textarea.no-scrollbar{
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none;  /* FireFox*/
}